<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0f63b49a-5423-46bd-91fa-0e78bbd2f6d6" Alias="article" Level="2">
  <Info>
    <Name>Article</Name>
    <Icon>icon-article color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>CultureAndSegment</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="e68abe48-7646-4ef4-abb8-f1a5b24b27cc">articleControls</Composition>
      <Composition Key="b1c27e8c-1692-42ad-9701-c87f12716ee7">contentControls</Composition>
      <Composition Key="d690c8cb-2622-43b9-8cf9-fdca7811ee4d">headerControls</Composition>
      <Composition Key="ce869f5c-d410-4a3e-8572-9593e49101c6">mainImageControls</Composition>
      <Composition Key="9090575e-290c-4585-91a4-b72ec30ff41f">sEOControls</Composition>
      <Composition Key="7cebdc47-a965-49ec-ab42-bc887d6b1119">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>ArticleSegmented</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
      <Template Key="cb9c5b5d-48ad-484a-810b-be3daf8100ea">ArticleSegmented</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7125a531-3398-457b-b4e1-de9eedbb4602</Key>
      <Name>Segmented</Name>
      <Alias>segmented</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[I will change....]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>CultureAndSegment</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>aa002b55-58f9-4e64-b2ef-fe3cdf09730f</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>