<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9850b612-ab95-4257-b542-584703a23698" Alias="segments" Level="2">
  <Info>
    <Name>Segments</Name>
    <Icon>icon-folder color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Segments</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="e470e600-1f6f-4258-a241-c283a6922c07" SortOrder="0">segment</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>