<?xml version="1.0" encoding="utf-8"?>
<Content Key="952122c0-6638-42f9-9976-45d6be4d95bb" Alias="Segment" Level="2">
  <Info>
    <Parent Key="a4033a0f-ca60-4713-a5a7-cea01b83ac54">Segments</Parent>
    <Path>/Segments/Segment</Path>
    <Trashed>false</Trashed>
    <ContentType>segment</ContentType>
    <CreateDate>2023-09-11T21:51:54</CreateDate>
    <NodeName Default="Segment" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <documentTypes>
      <Value><![CDATA[article]]></Value>
    </documentTypes>
  </Properties>
</Content>