<?xml version="1.0" encoding="utf-8"?>
<Content Key="a4033a0f-ca60-4713-a5a7-cea01b83ac54" Alias="Segments" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Segments</Path>
    <Trashed>false</Trashed>
    <ContentType>segments</ContentType>
    <CreateDate>2023-06-28T13:19:50</CreateDate>
    <NodeName Default="Segments" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>